* {
    box-sizing: border-box;
}

:root {
    --line-clamp: 1;
    --primary-font-color: #000958;
    --primary-btn-color: #ff5b2e;
    --primary-background-color: #fff2e5;
    --font-sora: Sora, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    background: #fffaf5;
}

button,
select,
textarea,
input {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: transparent;
    background: transparent;
}

a {
    text-decoration: none;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 31px;
    cursor: pointer;
    color: var(--primary-btn-color);
    border: 1px solid #ff5b2e;
    transition: background, border-color, color;
    transition-duration: 0.25s;
}

.btn:hover {
    opacity: 1;
    background: var(--primary-btn-color);
    color: #fff;
    border-color: var(--primary-btn-color);
}

.desc {
    font-size: 1.6rem;
    line-height: 1.87; /* 187.5% */
    color: #656689;
}

.heading {
    position: relative;
    font-family: var(--font-sora);
    font-weight: 700;
    color: var(--primary-font-color);
}

.heading::before {
    font-family: var(--font-sora);
    font-size: 1.6rem;
    font-weight: 600;
    color: #5e6085;
}

.heading.lv2 {
    font-size: 5.2rem;
    line-height: 1.2; /* 119.231% */
}

.heading.lv3 {
    font-weight: 600;
    font-size: 2.2rem;
}

.heading.lv4 {
    font-weight: 600;
    font-size: 1.8rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 1);
    overflow: hidden;
}

.centered-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header */

.header-wrapper {
    position: sticky;
    z-index: 99;
    top: -14px;
    padding: 26px 0 8px;
    background: rgba(256, 250, 245, 0.8);
    backdrop-filter: brightness(100%) blur(10px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 36px;
}

.header-nav__item {
    padding: 2px 4px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #5e6085;
    transition: color 0.2s ease-in-out;
}

.header-nav__item:hover {
    color: var(--primary-font-color);
}

.sign-up-btn {
    height: 50px;
    min-width: 117px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
    border-radius: 25px;
    background: transparent;
}

.sign-up-btn:hover {
    border-color: transparent;
    background: #ff5b2e;
    color: #fff;
}

/* hero */

.hero-wrapper {
    padding: 100px 0 77px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    position: relative;
}

.hero__img {
    display: inline-block;
    object-fit: cover;
    border-radius: 16px;
}

.hero__img-1 {
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero__img-2 {
    position: absolute;
    top: 310px;
    right: -142px;
    width: 186px;
    height: 244px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero-card {
    position: absolute;
    left: 130px;
    top: 426px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-card-item:nth-of-type(1) {
    position: relative;
    margin-bottom: 40px;
}

.hero-card-item:nth-of-type(1)::after {
    position: absolute;
    bottom: -20px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

.hero-card-item {
    display: flex;
    column-gap: 10px;
}

.hero-card__img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-card__heading {
    font-family: var(--font-sora);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    color: #181e52;
}

.hero-card__content span:nth-of-type(2),
.hero-card__content span:nth-of-type(3) {
    display: block;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-card__content span:nth-of-type(2) {
    margin: 7px 0;
    width: 118px;
    height: 4px;
}

.hero-card__content span:nth-of-type(3) {
    width: 39px;
    height: 4px;
}

.hero__img-decor-1,
.hero__img-decor-2 {
    position: absolute;
    z-index: -1;
}

.hero__img-decor-1 {
    top: 247px;
    left: -58px;
}

.hero__img-decor-2 {
    top: 16px;
    right: -42px;
}

.hero-right {
    width: 44.2%;
    margin-left: 120px;
}

.hero__heading {
    margin-top: 71px;
    font-family: var(--font-sora);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
    color: var(--primary-font-color);
}

.hero__desc {
    margin: 24px 0 38px;
    width: 391px;
}

.hero-action {
    display: flex;
    align-items: center;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 189px;
    background: var(--primary-btn-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
}

.hero__btn:hover {
    background: #fff;
    color: var(--primary-btn-color);
}

.hero__btn:hover .hero__btn-icon {
    background: var(--primary-btn-color);
}

.hero__btn-icon :only-child {
    color: var(--primary-btn-color);
    transition: color 0.25s;
}

.hero__btn:hover .hero__btn-icon :only-child {
    color: #fff;
}

.hero__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: background 0.25s;
}

.hero__btn-call {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;

    color: var(--primary-font-color);
}

.hero__btn-call:hover {
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

/* About */

.about-wrapper {
    padding: 53px 0;
}

.about {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40.8% 1fr;
}

.about__heading {
    padding: 108px 0 24px;
}

.about__heading::before {
    position: absolute;
    top: 77px;
    left: 0;
    content: "// About //";
}

.about__desc {
    width: 90.5%;
    margin-bottom: 54px;
}

.about__certificate {
    display: grid;
    flex-direction: column;
    grid-template: auto auto / repeat(2, calc(50% - 18px));
    gap: 36px;
}

.about__certificate-item {
    position: relative;
    display: flex;
    align-items: center;
}

.about__certificate-item::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__certificate-text {
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 500;
    color: #48496a;
}

.about__certificate-checkicon {
    position: absolute;
    left: 6px;
    color: var(--primary-background-color);
}

.about-right {
    position: relative;
    z-index: 2;
    justify-self: flex-end;
    margin-top: 80px;
}

.about-stats {
    position: relative;
    z-index: 1;
    top: 98px;
    left: -92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end;
    padding: 31px 26px 29px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__nummbers {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 100% */
}

.about__text {
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.42; /* 142.857% */
}

.about-stats__decor {
    position: absolute;
    top: -38px;
    left: 83px;
}

.about__media {
    position: relative;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 450px;
    height: 550px;
    object-fit: cover;
}

.about-right__decor {
    position: absolute;
    right: -51px;
    top: 105px;
    z-index: -1;
}

/* feature */

.feature {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 77px 0 130px;
    padding: 16px 0 55px;
}

.feature-media {
    position: relative;
}

.feature__img {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    object-fit: cover;
}

.feature-decor-1,
.feature-decor-2,
.feature-decor-3,
.feature-decor-4,
.feature-decor-5,
.feature-decor-6 {
    position: absolute;
}

.feature-decor-1 {
    top: 12.5px;
    left: 388px;
}

.feature-decor-2 {
    top: -16px;
    left: 426px;
}

.feature-decor-3 {
    top: 33px;
    left: 426px;
}

.feature-decor-4 {
    top: 268px;
    left: 468px;
}

.feature-decor-5 {
    top: 336px;
    left: 427px;
}

.feature-decor-6 {
    top: 435px;
    left: 377px;
}

.feature__heading {
    padding-top: 36px;
}

.feature__desc {
    padding: 24px 0 52px;
    width: 511px;
}

.feature-list {
    position: relative;
    display: flex;
    column-gap: 56px;
    align-items: center;

    translate: -8px;
}

.feature-item {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.feature-item__text {
    font-family: var(--font-sora);
    font-size: 1.8rem;
    font-weight: 600;
    color: #48496a;
    white-space: nowrap;
}

.feature-list__progress {
    position: relative;
    width: 95px;
    height: 2px;
    background: var(--primary-btn-color);
}

.feature-list__progress::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    bottom: 0;
    width: 557px;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
}
.feature-item__desc {
    width: 391px;
    font-size: 1.4rem;
    margin-top: 36px;
    line-height: 1.71; /* 171.429% */
}

.feature-more {
    display: inline-block;
    margin-top: 28px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ff5d31;
}

.feature-more:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

/* Services */

.services-wrapper {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.services__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__heading::before {
    content: "What we do for you?";
    padding-bottom: 15px;
}

.sevices__content {
    position: relative;
    display: grid;
    grid-template: 208px 208px 208px / 25% 36% 25%;
    grid-template-areas:
        "item1 img item4"
        "item2 img item5"
        "item3 img item6";
    padding-top: 71px;
    grid-auto-flow: column;
    gap: 24px calc(14% / 2);
}

.services-item {
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    transition: transform 0.25s ease-in-out;
}

.services-item:nth-of-type(1) {
    grid-area: item1;
}

.services-item:nth-of-type(2) {
    grid-area: item2;
}

.services-item:nth-of-type(3) {
    grid-area: item3;
}

.services-item:nth-of-type(4) {
    grid-area: item4;
}

.services-item:nth-of-type(5) {
    grid-area: item5;
}

.services-item:nth-of-type(6) {
    grid-area: item6;
}

.services-item__heading {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.services-item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services-item__desc {
    --line-clamp: 3;
    font-size: 1.4rem;
    line-height: 1.71;
    padding: 18px 0 24px;
}

.services-item__btn {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.services-item__btn:hover .services-item__more {
    color: var(--primary-btn-color);
}

.services-item__more {
    color: #34396a;
    font-family: var(--font-sora);
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.25s ease-in-out;
}

.services-img__background {
    justify-self: center;
    margin-top: 260px;
    position: relative;
    grid-area: img;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
    position: absolute;
    bottom: 0;
    left: -16px;
    width: 447px;
    height: 621px;
    flex-shrink: 0;
}

.services__view-all {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -17px;
    max-width: 214px;
    height: 56px;
    border: 1px solid var(--primary-btn-color);
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: var(--primary-btn-color);
    font-size: 1.6rem;
    font-weight: 500;
    transition-property: background, color, border-color;
    transition-duration: 0.25s;
}

/* Staff */

.staff-wrapper {
    padding: 130px 0 130px;
}

.staff__heading {
    position: relative;
}

.staff__heading::before {
    content: "Pet Care Staff";
    position: absolute;
    display: flex;
    justify-content: center;
    top: -31px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.staff-list {
    padding: 48px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: 35px; */
}

.staff-item {
    justify-self: center;
    width: 80%;
}

.staff-item__box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 313px;
}

.staff-item__box::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 266px;
    border-radius: 129.5px;
}

.staff-item:nth-child(1) .staff-item__box::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(2) .staff-item__box::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__box::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(4) .staff-item__box::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__decor {
    position: absolute;
}

.staff-item:nth-child(odd) .staff-item__decor {
    top: 218px;
}

.staff-item:nth-child(even) .staff-item__decor {
    top: 36px;
}

.staff-item__img {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 129.5px 129.5px;
    cursor: pointer;
}

.staff__position {
    padding: 40px 0 14px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: #656689;
}

.staff-item__heading {
    text-align: center;
}

.staff__view-all {
    margin: 0 auto;
    width: 192px;
    min-width: 192px;
    height: 56px;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    transition: background, color, border-color;
    transition-duration: 0.25s;
}

/* Pricing */
.pricing-wrapper {
    padding: 86px 0;
    background: var(--primary-background-color);
}

.pricing__desc {
    padding-top: 24px;
    text-align: center;
    margin: 0 auto;
    width: 709px;
}

.pricing-mode {
    position: relative;
    display: flex;
    align-items: center;
    margin: 38px auto 56px;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing-mode:has([type="radio"]:nth-of-type(2):checked)::before {
    transform: translateX(100%);
}

.pricing-mode:has([type="radio"]:nth-of-type(2):checked) .pricing-option:nth-of-type(2) {
    color: #fff;
}
.pricing-mode:has([type="radio"]:nth-of-type(1):checked) .pricing-option:nth-of-type(1) {
    color: #fff;
}

.pricing-mode::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 50%;
    height: 100%;
    background: var(--primary-btn-color);
    border-radius: 31px;
    transition: transform 0.5s;
}

.pricing-option {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: var(--primary-btn-color);
    transition: color 0.5s;
}

.pricing__service-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 25.8%);
    column-gap: 44px;
    justify-content: center;
}

.pricing__service-item {
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #fff;
}

.pricing__service-heading::before {
    display: block;
    padding-bottom: 8px;
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.pricing__service-item:nth-of-type(1) .pricing__service-heading::before {
    content: "Basic";
}

.pricing__service-item:nth-of-type(2) .pricing__service-heading::before {
    content: "Exclusive";
}

.pricing__service-item:nth-of-type(3) .pricing__service-heading::before {
    content: "Platinum";
}

.pricing__service-heading {
    color: #3f4065;
    padding-bottom: 24px;
}

.pricing__service-cost {
    display: inline-block;
    padding-bottom: 22px;
    color: var(--primary-font-color);
    font-family: var(--font-sora);
    font-size: 3.4rem;
    font-weight: 700;
}

.pricing__service-action {
    width: 100%;
    height: 44px;
    margin-bottom: 24px;
}

.pricing__service-treatment-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.pricing__service-treatment-item {
    position: relative;
    margin-left: 6px;
    padding-left: 20px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
}

.pricing__service-treatment-item::before,
.pricing__service-treatment-item::after {
    position: absolute;
    content: "";
    display: inline-block;
    border-radius: 1px;
    background: var(--primary-btn-color);
}

.pricing__service-treatment-item::before {
    left: 0.2px;
    bottom: 6.2px;
    width: 10px;
    height: 1px;
    rotate: -45deg;
}

.pricing__service-treatment-item::after {
    left: -3.2px;
    bottom: 5px;
    width: 6px;
    height: 1px;
    rotate: 45deg;
}

.not-including {
    opacity: 0.4;
}

/* Feedback */

.feedback-wrapper {
    padding: 53px 0 130px;
}

.feedback {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36px;
}

.feedback__btn {
    flex-shrink: 0;
    display: inline-block;
    width: 54px;
    height: 54px;
    border: 2px solid rgba(255, 91, 46, 0.6);
    border-radius: 50%;
    transition: background 0.25s;
    cursor: pointer;
}

.feedback__arrow {
    color: var(--primary-btn-color);
    transition: color 0.25s;
}

.feedback__btn:hover {
    background: var(--primary-btn-color);
}
.feedback__btn:hover .feedback__arrow {
    color: var(--primary-background-color);
}

.feedback__content {
    display: flex;
    width: calc(100% - 220px);
}

.feedback__box-img {
    position: relative;
    width: 274px;
    height: 427px;
}

.feedback__box-img::before {
    --width: 274px;
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: var(--width);
    height: 350px;
    border-radius: calc(var(--width) / 2);
    background: #ffda54;
}

.feedback__thumb {
    position: absolute;
    width: 274px;
    height: 427px;
    border-radius: calc(274px / 2);
    object-fit: cover;
}

.feedback__content-right {
    width: 553px;
    margin: 113px 0 0 115px;
}

.feedback__message {
    padding: 24px 0 34px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.55; /* 155.556% */
}

.feedback__writter {
    display: flex;
    align-items: center;
    color: #282828;
    font-family: var(--font-sora);
    font-size: 1.8rem;
    font-weight: 600;
}

.feedback__writter::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    margin-right: 8px;
    background: #000;
}

.breadcrumb-nav {
    display: flex;
    gap: 8px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.dot:nth-of-type(1) {
    position: relative;
    background: var(--primary-btn-color);
}

.dot:nth-of-type(1)::before {
    position: absolute;
    left: 0;
    top: -1px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 8px;
    border-radius: 5px;
    background: var(--primary-btn-color);
}

.dot {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid var(--primary-btn-color);
    border-radius: 50%;
}

/* Blog */

.blog-wrapper {
    padding-bottom: 130px;
}

.blog-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-top-left {
    width: 350px;
    margin-right: 73px;
}

.blog__view-all {
    margin: 24px 0 54px;
    width: 182px;
    height: 56px;
}

.blog-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 30.6%);
    gap: calc((100% - 3 * 30.6%) / 2);
}

.blog__img-wrapper {
    position: relative;
    height: 362px;
    width: 100%;
    border-radius: 24px;
    background: #90ccff;
    padding: 24px 0 0 36px;
    overflow: hidden;
}

.blog-item__post-date {
    color: #fff;
    font-family: var(--font-sora);
    font-size: 1.4rem;
    line-height: 1.21; /* 121.429% */
}

.blog-item__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 82%;
    object-fit: cover;
}

.blog-item__heading {
    --line-clamp: 2;
    margin-top: 28px;
    width: 94.4%;
    line-height: 1.54;
}

.blog-item__desc {
    --line-clamp: 3;
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}
